<div *ngFor="let house of houses">
  <h2>{{ house.name }}</h2>
  <p><strong>House Colours:</strong> {{ house.houseColours }}</p>
  <p><strong>Founder:</strong> {{ house.founder }}</p>
  <p><strong>Animal:</strong> {{ house.animal }}</p>
  <p><strong>Element:</strong> {{ house.element }}</p>
  <p><strong>Ghost:</strong> {{ house.ghost }}</p>
  <p><strong>Common Room:</strong> {{ house.commonRoom }}</p>
  <p><strong>Heads:</strong></p>
  <ul>
    <li *ngFor="let head of house.heads">{{ head.firstName }} {{ head.lastName }}</li>
  </ul>
  <p><strong>Traits:</strong></p>
  <ul>
    <li *ngFor="let trait of house.traits">{{ trait.name }}</li>
  </ul>
</div>
